/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: 200, 300, 400, 500, 600, 700, 800, 900;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 추가 */
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button,
input [type="button"] {
  border: none;
  outline: none;
  cursor: pointer;
}

/* css 변수 */
:root {
  --body-font: "Noto Sans KR", sans-serif;
  --main-font: "Montagu Slab";
  --secondary-font: "Escoredream";
  --point-font: "playfair";
  --point-font-2: "Roboto Mono";
  /* colors */
  --white-color: #fdfdff;
  --black-color: #161616;
  --dark-color: #161619;
  --grey-color: #616161;
  --blue-color: #0336ff;
  --red-color: #b71c1c;
  /* brand color */
  --primary-color: var(--dark-color);
  --secondary-color: #21ba45;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--red-color);
  --info-color: #31ccec;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;
  /* font weight */
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-black: 900;
  /* Typography */
  --font-size-1: 21rem;
  --font-size-2: 16rem;
  --font-size-3: 5rem;
  --font-size-3-5: 2.5rem;
  --font-size-4: 1.6rem;
  --font-size-4-5: 1.2rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-0: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 6rem;
  --spacing-7: 9rem;
  /* letter spacing */
  --letter-spacing-1: -0.1rem;

  --header-height: 4.5rem;

  /* box-shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.25) 0 6px 10px;
  --box-shadow-2: rgba(0, 0, 0, 0.2) 0 2px 8px;
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  font-size: var(--font-size-5);
  overflow-x: hidden;
  overflow-y: scroll;
}
/* layout */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-2);
  height: calc(100vh - var(--header-height));
}

/* header */
.header {
  background-color: var(--white-color);
  color: var(--black-color);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-family: var(--point-font-2);
  font-size: var(--font-size-6);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.nav__logo {
  margin: var(--spacing-0) var(--spacing-0);
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: var(--spacing-1);
  width: auto;
  text-align: center;
}

.nav__item:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.nav__link {
  position: relative;
}
/* footer */

.footer {
  text-align: center;
  height: 50%;
  padding: 3rem 0;
  font-weight: var(--font-weight-bold);
  background-color: var(--black-color);
  color: var(--white-color);
}

.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__nav-box {
  width: 100%;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-6);
}

.footer__nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__nav {
  font-family: var(--point-font);
  font-size: var(--font-size-4-5);
}

.footer__nav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--spacing-1);
  margin: 0 var(--spacing-0);
  position: relative;
}

.footer__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  border-bottom: 1px dashed var(--white-color);
}

.footer__nav a:hover::after {
  width: 90%;
  text-align: center;
}

.footer__nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  margin-right: var(--spacing-2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__contact > p {
  margin-bottom: var(--spacing-3);
}

.footer__contact-text {
  font-family: var(--main-font);
  font-size: var(--font-size-4-5);
  font-weight: var(--font-weight-light);
}

.footer__text {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-5);
}

.footer__text-point {
  font-family: var(--point-font);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
}

.footer__thk {
  font-family: var(--main-font);
  font-weight: var(--font-weight-black);
  font-size: clamp(16px, 6vw, 200px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
