@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Noto+Sans+KR:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: 200, 300, 400, 500, 600, 700, 800, 900;
  font-display: swap;
}

/* css 변수 */
:root {
  --body-font: "Noto Sans KR", sans-serif;
  --main-font: "Montagu Slab";
  --secondary-font: "Escoredream";
  --point-font: "playfair";
  /* colors */
  --white-color: #fdfdff;
  --black-color: #161616;
  --dark-color: #161619;
  --grey-color: #616161;
  --blue-color: #0336ff;
  --red-color: #b71c1c;
  /* brand color */
  --primary-color: var(--dark-color);
  --secondary-color: #21ba45;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--red-color);
  --info-color: #31ccec;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;
  /* font weight */
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-black: 900;
  /* Typography */
  --font-size-1: 21rem;
  --font-size-2: 16rem;
  --font-size-3: 5rem;
  --font-size-3-5: 2.5rem;
  --font-size-4: 1.6rem;
  --font-size-4-5: 1.2rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-0: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 6rem;
  --spacing-7: 9rem;
  /* letter spacing */
  --letter-spacing-1: -0.1rem;

  --header-height: 4.5rem;

  /* box-shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.25) 0 6px 10px;
  --box-shadow-2: rgba(0, 0, 0, 0.2) 0 2px 8px;
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  font-size: var(--font-size-5);
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  margin-top: var(--header-height);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}
.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-black {
  font-weight: var(--font-weight-black);
}

.button {
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  text-align: center;
  border-radius: 16px;
  font-size: var(--font-size-6);
  width: 10rem;
  min-height: 40px;
  height: 3rem;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* layout */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-2);
  height: calc(100vh - var(--header-height));
}
/* header */
.header {
  background-color: var(--white-color);
  color: var(--black-color);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-family: var(--main-font);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-black);
  height: var(--header-height);
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.nav__logo {
  margin: var(--spacing-0) var(--spacing-0);
}

.nav__brand {
  font-size: var(--font-size-4-5);
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: var(--spacing-1);
  width: auto;
  text-align: center;
}

.nav__item:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.nav__link {
  position: relative;
}

/* home */
.text-loop {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  overflow: hidden; /*글씨 가로로 넘겨서 안보이게 */
  --webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  > * {
    flex: 0 0 100%;
  }
}

.group__hidden {
  display: none;
}
.card__group {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  will-change: transform;
  animation: scrolling 10s linear infinite;
}

.card {
  width: 100%;
  color: var(--white-color);
  background-color: rgba(243, 243, 243, 0.379);
  border-radius: 8px;
  padding: 12px;
  margin: 5px 0;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-medium);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(210, 210, 210, 0.3);

  &:nth-child(1) {
    background-color: rgb(30, 144, 255);
    background-image: linear-gradient(
      159deg,
      rgba(30, 144, 255, 1) 0%,
      rgba(153, 186, 221, 1) 100%
    );
  }

  &:nth-child(2) {
    background-color: #50c878;
    background-image: linear-gradient(
      319deg,
      #50c878 0%,
      #fbaed2 42%,
      #f0dc82 100%
    );
  }
  &:nth-child(3) {
    background-color: #f6c324;
    background-image: linear-gradient(315deg, #f6c324 0%, #f17e7e 74%);
  }
  &:nth-child(4) {
    background-color: rgb(62, 180, 137);
    background-image: linear-gradient(
      159deg,
      rgba(62, 180, 137, 1) 0%,
      rgba(144, 238, 144, 1) 100%
    );
  }
  &:nth-child(5) {
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  }
  &:nth-child(6) {
    background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
  }
  &:nth-child(7) {
    background-color: #6a5acd;
    background-image: linear-gradient(
      319deg,
      #6a5acd 0%,
      #c54b8c 37%,
      #b284be 100%
    );
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home {
  padding: var(--spacing-2) 0;
  scroll-margin-top: var(--header-height);
}

.home__contant {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  position: relative;
}

.title {
  top: 50%;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-light);
  letter-spacing: -5px;
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: var(--spacing-0);
}

.home__text {
  text-align: center;
  font-size: var(--font-size-4-5);
  margin: var(--spacing-1) auto;
}

.home__img {
  width: 15%;
  height: auto;
}

/* button */

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: var(--box-shadow-1);
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.section__title {
  font-family: var(--main-font);
  font-size: var(--font-size-3);
  color: var(--black-color);
  font-weight: var(--font-weight-black);
  margin: var(--spacing-1) 0;
}

.subtitle {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
}

.section__font {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
  line-height: 1.8rem;
}

/* .horizontal-section */

.horizontal-section {
  height: calc(100vh - var(--header-height));
}

/* about */
.about {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin: var(--spacing-4) 0;
}

/* about__text_active */

.about__text-active {
  width: 50vw;
  height: 80%;
  font-size: 40rem;
  font-family: "playfair";
  text-align: center;
  position: relative;
  min-width: 150px;
}

.about__A {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.about__E {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.07;
}

.about__T {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.05;
}

.about__R {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.02;
}

.about__left {
  transition: opacity 0.2s ease-in-out;
}

.about__left.active {
  opacity: 1;
}

.horizontal-data {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* scrollbar-width: none; */
}

.container__data {
  min-width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* about */
.about__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-2);
  width: 80%;
}
.about__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__subtitle {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  margin: 0 var(--spacing-1);
}

.about__text {
  margin: var(--spacing-3);
  display: flex;
}

.about__span {
  font-weight: var(--font-weight-bold);
}
.about__arrow {
  font-size: var(--font-size-3);
  color: rgba(224, 224, 224, 0.3);
  margin: var(--spacing-1);
}

/* Education */

.education > div > p {
  margin: var(--spacing-4);
}

.education__data {
  display: flex;
  align-items: top;
  margin-top: var(--spacing-5);
}

.education__data p > span {
  font-weight: var(--font-weight-bold);
}

.education__text {
  margin-top: var(--spacing-3);
}

.education__subtitle {
  margin: 0 var(--spacing-2);
}

.education__info {
  margin: 0 var(--spacing-2);
}

/* Tools */

.tools__container {
  display: flex;
  width: 60%;
  justify-content: center;
}

.tools__alldata {
  width: inherit;
}

.tools__data {
  box-shadow: var(--box-shadow-2);
  border-radius: 0.3rem;
  margin-top: var(--spacing-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 1rem;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-6);
  overflow: hidden;
  cursor: default;
  /* 마우스 커서 올렸을때 텍스트 표시에서 그냥 원래화살표 디폴트 모양으로 됨 */
}

.tools__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  appearance: none;
  /* 프로그래스 바 (원래:파랑색) 커스텀하기위해 기본 스타일 없앰  */
  height: 6px;
  width: 100%;
}
.tools__names {
  display: flex;
  align-items: center;
  font-size: var(--font-size-6);
  margin-bottom: 0.2rem;
}

.tools__allicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools__icon {
  font-size: 2rem;
  color: var(--black-color);
  margin: var(--spacing-1);
}

.tools__img {
  width: 2rem;
  height: auto;
  margin: var(--spacing-1);
}

.tools__alldata article {
  margin: var(--spacing-1);
}

/* 프로그래스 바 바탕색 커스텀 */
.tools__progress::-webkit-progress-bar {
  background: var(--white-color);
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
}

/* 프로그래스 바 벨류 값 커스텀 */
.tools__progress::-webkit-progress-value {
  background: var(--secondary-color);
  border-radius: 12px;
  width: 48px;
}

.tools__certification {
  display: flex;
  margin-top: var(--spacing-2);
  width: 70%;
  justify-content: space-evenly;
}

.sub_text {
  display: flex;
  flex-direction: column;
}

.sub_text span {
  margin-bottom: var(--spacing-0);
}

/* Download  */

.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-3) var(--spacing-1);
}

.resume:hover {
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
}

.resume {
  border-radius: 0.6rem;
  background-color: #212020;
  color: var(--white-color);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing-1) var(--spacing-2);
  box-shadow: var(--box-shadow-2);
}

/* project */

:root {
  --project-title-height: clamp(5rem, 12vw, 200px);
}

.project {
  background-color: var(--black-color);
  scroll-margin-top: var(--header-height);
}

.project__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-2);
}

.project__title {
  color: var(--white-color);
  padding: var(--spacing-1) 0;
  text-align: left;
  font-size: var(--project-title-height);
  font-weight: var(--font-weight-bold);
  font-family: var(--main-font);
}

.project__data {
  margin: var(--spacing-5) 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.project__text > p {
  margin: var(--spacing-1) 0;
  font-size: var(--font-size-5);
  font-family: var(--body-font);
  font-weight: var(--font-weight-medium);
}

.project__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  /* 가로세로 비율 고정 */
}
.flip-effect {
  perspective: 1000px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.flip-effect img {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-effect:hover {
  color: none;
  opacity: 1;
}
.flip-effect:hover img {
  transform: rotateY(180deg);
}

@media (prefers-reduced-motion: reduce) {
  /* 접근성 고려 효과 없애기*/
  .flip-effect:hover img {
    transform: none;
  }
}

/* thk */

.thk {
  width: 100%;
  height: auto;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--spacing-2);
}

.thk__text {
  font-family: var(--secondary-font);
  font-size: var(--font-size-4-5);
  font-weight: var(--font-weight-semibold);
  margin: var(--spacing-7) 0;
  margin-left: var(--spacing-3);
  padding: 0 var(--spacing-2);
}

/* footer */

.footer {
  text-align: center;
  height: 50%;
  padding: 3rem 0;
  font-weight: var(--font-weight-bold);
  background-color: var(--black-color);
  color: var(--white-color);
}

.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.footer__nav-box {
  width: 100%;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-6);
}

.footer__nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__nav {
  font-family: var(--point-font);
  font-size: var(--font-size-4-5);
}

.footer__nav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--spacing-1);
  margin: 0 var(--spacing-0);
  position: relative;
}

.footer__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  border-bottom: 1px dashed var(--white-color);
}

.footer__nav a:hover::after {
  width: 90%;
  text-align: center;
}

.footer__nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  margin-right: var(--spacing-2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__contact > p {
  margin-bottom: var(--spacing-3);
}

.footer__contact-text {
  font-family: var(--main-font);
  font-size: var(--font-size-4-5);
  font-weight: var(--font-weight-light);
}

.footer__text {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-5);
}

.footer__text-point {
  font-family: var(--point-font);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
}

.footer__thk {
  font-family: var(--main-font);
  font-weight: var(--font-weight-black);
  font-size: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* floating button */

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--white-color);
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: var(--box-shadow-2);
  transition: 0.3s;
}

.floating-button:hover {
  background-color: var(--black-color);
}

.floating-button-icon {
  font-size: 0.8rem;
}

/* break point  */

.nav__toggle {
  display: none;
}

.show {
  right: 0 !important;
}

/* 햄버거 토글 클릭했을때 메뉴 나오기 위해 
show 클래스를 설정하고 우선적용하기 위해 important 규칙 적용 */

/* 여기서 show 클래스 적용은 js 이용  */

/* Mobile devices */
@media only screen and (max-width: 800px) {
  :root {
    --header-height: 3.2rem;

    --font-size-1: 2rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.25rem;
    --font-size-5: 0.938rem;
    --font-size-6: 0.75em;
  }
  /* 800 이하에서 헤더 높이 줄어들 수 있게 재정의 */

  .nav__brand {
    font-size: var(--font-size-5);
  }
  .nav__toggle {
    display: block;
    cursor: pointer;
    padding: 1rem;
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    top: 5px;
    right: 0;
  }
  .nav__menu {
    position: fixed;
    height: 100%;
    background-color: var(--black-color);
    width: 40%;
    top: var(--header-height);
    right: -100%;
    transition: 0.2s;
    color: var(--white-color);
  }
  .nav__list {
    display: block;
    margin-right: auto;
  }
  .nav__item {
    margin-left: 0;
    margin-bottom: var(--spacing-0);
    padding: var(--spacing-2) var(--spacing-1);
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .nav__item:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }

  .nav__link {
    padding-left: var(--spacing-1);
  }
  /* Home */

  .home__contant {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .home__title {
    margin-top: var(--spacing-2);
  }
  .title {
    font-size: var(--font-size-3-5);
  }

  .home__text {
    padding: var(--spacing-1) 0;
  }
  .home__img {
    width: 20%;
    height: auto;
    display: block;
  }

  .section__title {
    font-size: var(--font-size-1);
    margin: var(--spacing-2) 0;
  }

  /* About */

  .container {
    padding: 0;
  }
  .about {
    margin: 0;
  }

  .about__text-active {
    display: none;
  }
  .horizontal-data {
    width: auto;
    max-width: 100vw;
  }

  .about__data {
    margin: 0;
  }

  .container__data {
    min-width: 100vw;
  }

  .about__text {
    margin: var(--spacing-2);
  }

  .about__text > .about__text_L,
  .about__text_R {
    padding: var(--spacing-0);
  }

  .thk {
    width: 100%;
    margin: var(--spacing-5) 0;
  }
  .thk__text {
    margin: var(--spacing-2) 0;
  }
  /* footer */
  .footer__thk {
    font-size: var(--font-size-1);
    margin-top: var(--spacing-1);
  }
  .footer__contact-text {
    font-size: var(--font-size-5);
  }
  .footer__nav-list {
    flex-direction: column;
  }
  .footer__nav a {
    padding: var(--spacing-1);
  }
}

@media only screen and (max-width: 480px) {
  * {
    animation: none !important;
    transition: none !important;
  }
  .text-loop {
    display: none;
  }
  .nav__menu {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .nav__item:hover {
    background-color: var(--secondary-color);
  }

  /* home */
  .home__text {
    width: 80%;
    margin: 0 var(--spacing-2);
  }
  .home__img {
    width: 50%;
    margin-top: var(--spacing-5);
  }
  .project__title span {
    display: none;
  }

  /* about */
  .about__arrow {
    display: none;
  }
  .about__text {
    margin: 0;
  }
  .about__subtitle {
    margin: var(--spacing-0) 0;
  }
  .education__data {
    flex-direction: column;
  }
  .tools__allicon > i,
  .tools__img {
    display: none;
  }
  .tools__alldata {
    width: 100%;
  }
  .tools__names {
    font-size: var(--font-size-5);
  }
  .tools__certification {
    gap: 1rem;
  }
  .resume {
    padding: var(--spacing-1);
  }

  .project__title {
    padding: var(--spacing-2) 0;
  }
  .project__data {
    display: flex;
    flex-direction: column;
  }

  .thk__text {
    font-size: var(--font-size-5);
    line-height: 25px;
  }
}
