main {
  background-color: var(--black-color);
}
.header {
  background-color: var(--black-color);
  color: var(--white-color);
}
.nav {
  font-weight: var(--font-weight-black);
  height: var(--header-height);
}

/* project  */
.projects {
  max-width: 1600px;
  margin: 0 auto;
  padding: var(--spacing-6) 0;
}
.title {
  color: var(--black-color);
  background-color: bisque;
  font-size: var(--font-size-3);
  margin-top: var(--spacing-7);
}
.project__box {
  text-align: center;
}
.project__img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

/* thk */

@media only screen and (max-width: 800px) {
  /* footer */
  .footer__thk {
    font-size: var(--font-size-1);
    margin-top: var(--spacing-1);
  }
  .footer__contact-text {
    font-size: var(--font-size-5);
  }
  .footer__nav-list {
    flex-direction: column;
  }
  .footer__nav a {
    padding: var(--spacing-1);
  }
}
